# COMO IMPLEMENTAR:
#
# 1 Adicione variáveis de ambiente para os vários estágios aqui
# 2 Renomeie este arquivo para env.yml e descomente seu uso
# no serverless.yml.
# 3 Certifique-se de não confirmar este arquivo.  

dev:
  APP_NAME: graphql-acate

prod:
  APP_NAME: graphql-acate-prod
